* {
  padding: 0;
  box-sizing: inherit;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}
body::-webkit-scrollbar-track {
  background: #0c222f;
}
body::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #464646;
}
header {
  position: fixed !important;
}
.container__about-avt a {
  position: relative;
}
.container__about-avt a img {
  position: relative;
  border: 15px solid transparent;
  transition: all 0.3s ease-out;
}
.container__about-avt a::before {
  content: "";
  position: absolute;
  border: 15px solid rgba(55, 140, 63, 0.6);
  border-radius: 50%;
  height: 11rem;
  width: 11rem;
  left: 0;
  opacity: 0;
  z-index: 9999;
  animation: fadeOut 3s ease-out;
  animation-iteration-count: infinite;
  transform: all 1s ease-out;
}
@keyframes fadeOut {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
.container__about-avt a:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 0.5s;
}
.container__about-avt a:hover::before {
  animation: none;
}

.container__about-image {
  background-image: url("./image/1.png");
  height: 600px;
}
.border {
  border-radius: 0.25rem;
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}
.mw {
  max-width: 50px;
}
.project-detail::after {
  content: "";
  border-width: 30px 30px;
  border-style: solid;
  border-color: transparent rgba(243, 244, 246, 1) transparent transparent;
  position: absolute;
  left: -50px;
  top: 5px;
}
/* header memu mobile - start*/
.bb {
  border-bottom: 1px solid rgba(240, 255, 255, 1);
  border-top: 1px solid rgba(240, 255, 255, 1);
}
.checked-show:checked ~ .header__menu-overlay {
  display: block;
}

.checked-show:checked ~ .header__menu {
  transform: translateX(0);
}
.header__menu-overlay {
  animation: fadeIn linear 0.3s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* header memu mobile - end*/

.c-1 {
  flex: 0 0 8.33333%; /* flexrow flexstring flexbasis */
  max-width: 8.33333%;
}
.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667;
}
.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 639px) {
  .container {
    max-width: 639px;
  }
  .mjc {
    justify-content: center;
  }
  .m-text-size {
    font-size: 25;
  }
  .m-hiden {
    display: none;
  }
  .m-margin {
    margin: 8px;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%; /* flexrow flexstring flexbasis */
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .project-icon .write-icon {
    display: none;
    padding-left: 0;
  }
  .project-icon .project-detail {
    margin-left: 0;
  }
  .fa-edit {
    display: none;
  }
  .m-hiden {
    display: none !important;
  }
  .edu__group .edu__group-detail {
    margin-right: 0;
  }
  .experience__group .experience__group-detail {
    margin-right: 0;
  }
  .margin-0 {
    margin: 0px !important;
  }
  .text-3xl {
    font-size: 20px !important;
  }
  .w-80 {
    width: 16rem !important;
  }
  .sm-ml {
    margin-left: 1.5rem !important;
  }
}
