@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.wrap-img-banner::before {
    content: '';
    height: 30px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: 0;
}

.trans-4 {
    transition: all 0.4s ease;
}

.service-border {
    border: 1px solid #3333
}

.bg-transparent {
    background: rgba(250, 250, 250, 250);
}

.hover-item:hover > div {
    display: block;
}

/* Nav mobile */
.nav-mb {
    transform: translateX(100%);
    opacity: 0;
}

.overlay-mb {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    animation: fadeIn 0.6s ease;
}

#nav-mobile-input:checked + .overlay-mb {
    display: block;
}

#nav-mobile-input:checked ~ .nav-mb {
    transform: translateX(0);
    opacity: 1;
}

footer {
    width: 100vw;
    box-sizing: border-box;
    max-width: 100vw;
}

/* Form - Contact */
.form-input {
    padding: 20px;
    width: 100%;
    border: 1px solid rgb(227, 227, 227);

}

.form-input:focus {
    border-color: #ED4444;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    top: 0;
    padding: 0 10px;
    left: 11px;
    background-color: #fff;
    display: inline-block;
    color: #ED4444;
}

.form-label {
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    color: rgb(153, 153, 153);
    user-select: none;
    pointer-events: none;
    transition: 0.4s ease;
}

textarea.form-input {
    height: 140px;
    line-height: 1.4;
    padding: 10px 20px;
}

textarea.form-input + .form-label {
    top: 26px;
}

/* Animate */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }   
    to {
        opacity: 1;
        transform: none;
    } 
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }   
    to {
        opacity: 1;
        transform: none;
    } 
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }   
    to {
        opacity: 1;
        transform: none;
    } 
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(100%);
    }   
    to {
        opacity: 1;
        transform: none;
    } 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-left {
    animation: fadeInLeft 1s ease;
}

.animate-right {
    animation: fadeInRight 1s ease;
}

.animate-up {
    animation: fadeInUp 1s ease;
}

.animate-down {
    animation: fadeInDown 1s ease;
}

.animate-fade {
    animation: fadeIn 1s ease;
}